@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins'),
    url('/fonts/poppins-v13-latin-300.woff2') format('woff2'),
    url('/fonts/poppins-v13-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins'), local('Poppins-Regular'),
    url('/fonts/poppins-v13-latin-regular.woff2') format('woff2'),
    url('/fonts/poppins-v13-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins'), local('Poppins-Medium'),
    url('/fonts/poppins-v13-latin-500.woff2') format('woff2'),
    url('/fonts/poppins-v13-latin-500.woff') format('woff');
}

.custom-button {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}

.custom-button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}